<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <application android:label="StackS" android:hasCode="false" android:extractNativeLibs="true">
        <activity android:name="android.app.NativeActivity"
                  android:exported="true"
                  android:screenOrientation="sensorLandscape"
                  android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data android:name="android.app.lib_name" android:value="stacks_platform" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
